__pycache__/
.ipynb_checkpoints
*/.ipynb_checkpoints/*
.DS_Store
*.DS_Store
**/.vscode/**
develop-eggs
eggs
*.egg-info
*.npz
*.png
*.tfevents*
*.ckpt*
**/wandb/**
**/lightning_logs/**
*model*
studies/Data/*
**/.obsidian/**
**/.obsidian/config
**/.obsidian/cache

